@model List<About>
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="/travela-1.0.0/img/about-img.jpg" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                <h5 class="section-about-title pe-3">Hakkımızda</h5>
                <h1 class="mb-4"><span class="text-primary">AcunMedyaTreval</span>'a Hoşgeldiniz.</h1>
                <p class="mb-4">AcunMedyaTravel uzun yıllardır vermiş olduğu hizmetle seyehat alanında oldukça tecrübeli bir firmdadır. Daha fazla detay ve bilgilendirmeler için duyuruları ve kampanyaları takip edebilirsiniz.</p>
                <div class="row gy-2 gx-4 mb-4">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.Name</p>
                        </div>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>