﻿<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>AcunMedyaTravel</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="index.html" class="nav-item nav-link active">Ana sayfa</a>
                <a href="about.html" class="nav-item nav-link">Hakkımızda</a>
                <a href="services.html" class="nav-item nav-link">Hizmetler</a>
                <a href="packages.html" class="nav-item nav-link">Paketler</a>
                <a href="blog.html" class="nav-item nav-link">Blog</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sayfalar</a>
                    <div class="dropdown-menu m-0">
                        <a href="destination.html" class="dropdown-item">Sık Gidilen Yerler</a>
                        <a href="tour.html" class="dropdown-item">Turları Keşfedin</a>
                        <a href="booking.html" class="dropdown-item">Seyahat Rezervasyonu</a>
                        <a href="gallery.html" class="dropdown-item">Bizim Galerimiz</a>
                        <a href="guides.html" class="dropdown-item">Seyahat Rehberleri</a>
                        <a href="testimonial.html" class="dropdown-item">Yorumlar</a>
                        
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">İletişim</a>
            </div>
            <a href="" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Rezervasyon Yap</a>
        </div>
    </nav>
    <!-- Carousel Start -->
    <div class="carousel-header">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="~/travela-1.0.0/img/carousel-2.jpg" class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Dünyayı Keşfedin</h4>
                            <h1 class="display-2 text-capitalize text-white mb-4">Hayalinizdeki Tatil Burada Başlıyor!</h1>
                            <p class="mb-5 fs-5">
                                Unutulmaz anılar biriktirmek için en güzel destinasyonları keşfedin. Seyahat planınızı şimdi yapın!
                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="#">Hemen Keşfet</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/travela-1.0.0/img/carousel-1.jpg" class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Yeni Maceralar</h4>
                            <h1 class="display-2 text-capitalize text-white mb-4">Hayalinizdeki Turu Bulun</h1>
                            <p class="mb-5 fs-5">
                                Size özel tur paketleriyle yeni yerler keşfedin ve unutulmaz bir deneyim yaşayın.
                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="#">Turları İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/travela-1.0.0/img/carousel-3.jpg" class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Hayallerinizdeki Yer</h4>
                            <h1 class="display-2 text-capitalize text-white mb-4">Nereye Gitmek İstersiniz?</h1>
                            <p class="mb-5 fs-5">
                                Dünyanın dört bir yanındaki en popüler destinasyonları keşfedin ve seyahatinizi planlayın.
                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="#">Hemen Planla</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon btn bg-primary" aria-hidden="false"></span>
                <span class="visually-hidden">Önceki</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                <span class="carousel-control-next-icon btn bg-primary" aria-hidden="false"></span>
                <span class="visually-hidden">Sonraki</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->

</div>
<div class="container-fluid search-bar position-relative" style="top: -50%; transform: translateY(-50%);">
    <div class="container">
        <div class="position-relative rounded-pill w-100 mx-auto p-5" style="background: rgba(19, 53, 123, 0.8);">
            <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Ör: Paris">
            <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2" style="top: 50%; right: 46px; transform: translateY(-50%);">Ara</button>
        </div>
    </div>
</div>