﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body class="with-welcome-text">
    <div class="container-scroller">

        <!-- partial:partials/_navbar.html -->
        @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
            <!-- partial -->
            <div class="main-panel">
                @await Component.InvokeAsync("_AdminLayoutContentComponentPartial")
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")
                <!-- partial -->
                @RenderBody()
            </div>
            <!-- main-panel ends -->

        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- <script src="assets/js/Chart.roundedBarCharts.js"></script> -->
    <!-- End custom js for this page-->
    @RenderSection("Scripts", required: false) <!-- Scripts bölümü burada render ediliyor -->
</body>
</html>
